p{
    color:deeppink;
    font-family:Verdana;
    background-color:wheat;
    text-align: justify-all;
    margin-top: auto;
}
li{
    color:deeppink;
}
.contenedor{
	height: 250px;
    width: 800px;
	background-color:ghostwhite;
	display: flex;
	align-items: flex-start;
	/* align-items: flex-end; */
	align-items:flex-start;
	/* align-items: stretch; */
	/* align-items: baseline; */
}


.item{
	background-color:wheat;
    
	font-size: 11px;
    margin-top: 5px;
    margin-bottom: 30px;
	width: 130px;
	height: 140px;
	
}